#contextual-help-link-wrap,#wpadminbar #wp-admin-bar-clear-cache{display:none}
#wpadminbar{border-bottom:1px solid #666}
#wpadminbar #wp-admin-bar-new_item_in_admin_bar .ab-item{border-left:1px solid #666}
#adminmenu .menu-icon-appearance .wp-submenu .hide-if-no-customize{display:none}
#screen-options-wrap label[for=wp_welcome_panel-hide],.welcome-panel-close{display:none}
#welcome-panel{display:block}
.welcome-panel{padding:20px}
.welcome-panel ul{display:flex;flex-wrap:wrap;margin:0 0 30px -10px}
.welcome-panel ul:last-child{margin-bottom:0}
.welcome-panel ul li{box-sizing:border-box;width:20%;margin-bottom:0;padding:10px 0 0 10px}
.welcome-panel .button{position:relative;width:100%;height:auto;padding:50px 10px 15px;font-size:15px;text-align:center}
.welcome-panel .button:before{position:absolute;top:6px;left:50%;font-size:28px;font-family:dashicons;transform:translateX(-50%)}
.welcome-panel .post-summary:before{content:'\f322'}
.welcome-panel .post-article:before{content:'\f464'}
.welcome-panel .post-taxonomy:before{content:'\f323'}
.welcome-panel .post-page:before{content:'\f105'}
#dashboard-widgets-wrap #dashboard_right_now ul li{float:none;width:100%}
#dashboard-widgets-wrap #dashboard_right_now ul li.comment-count,#dashboard-widgets-wrap #dashboard_right_now ul li.comment-mod-count hidden,#dashboard-widgets-wrap #dashboard_right_now ul li.post-count:first-child{display:none}
#dashboard-widgets-wrap #dashboard_right_now #wp-version-message{display:none}
#dashboard-widgets-wrap #dashboard_activity #latest-comments{display:none}
#dashboard-widgets-wrap #dashboard_activity #published-posts ul li span{min-width:85px}
#dashboard-widgets-wrap .empty-container{border:none}
.fixed .column-date,.fixed .column-postid,.fixed .column-thumbnail,.fixed .column-thumbnail img{width:110px}
.fixed .column-category{width:150px}
.fixed .column-thumbnail{text-align:center}
#taxonomy-tax_information{padding-top:5px}
#taxonomy-tax_information #tax_information-adder,#taxonomy-tax_information #tax_information-tabs{display:none}
#taxonomy-tax_information #tax_information-all{border:none;padding:0}
#taxonomy-tax_information #tax_information-all #tax_informationchecklist{margin:0}
#taxonomy-tax_information #newcat_information_parent{display:none}
#cpt_info_box{display:none}
.attachment-details label[data-setting=album],.attachment-details label[data-setting=caption],.attachment-details label[data-setting=description]{display:none}
.media-sidebar .gallery-settings .setting:nth-child(2),.media-sidebar .gallery-settings .setting:nth-child(4),.media-sidebar .gallery-settings .setting:nth-child(5){display:none}
/*-- 2022-07-05 --*/
.welcome-panel-content{display:none}
/*-- 2022-08-30 --*/
.acf-field-group.flex-content .acf-th{display:none}
/*-- 2022-12-09 --*/
.welcome-panel h2{color:#fff}
@media (min-width:64rem){
.acf-table > thead > tr.acf-row{display:flex!important}
.acf-table > thead > tr.acf-row > td{width:75%!important}
.acf-table > thead > tr.acf-row > td:first-child{width:25%!important}
}
@media screen and (max-width:767px){
.welcome-panel ul{display:block;margin:5px 0 20px 0}
.welcome-panel ul li{width:100%;padding:5px 0 0 0}
.welcome-panel .button{padding:10px 0}
.welcome-panel .button:before{display:none}
}